@page "/"
<html>
<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .bgp {
            /* The image used */
            background-image: url(../img/booooom.jpg);
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    
</head>
<body>
    <h1 style="color:red">Pasaulio pabaiga artėja!!!</h1>
    Instructions coming up...
    <div class="bgp"></div>
</body>
</html>
